.about-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 24px;
}

.about-section h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 24px;
  color: var(--text-h);
  font-weight: 1000;
  letter-spacing: -0.03em;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 48px;
  margin-top: 20px;
  max-width: 1400px;
  width: 100%;


  @media (max-width: 1400px) {
    flex-direction: column;
    gap: 20px;
  }
}

.about-skills-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-mini-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.mini-skill-card {
  background: #ffffff;
  border: 1px solid rgba(114, 96, 42, 0.507);
  padding: 18px 24px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.05rem;
  color: var(--text-h);
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px -7px rgba(114, 96, 42, 0.507);
}

.mini-skill-card:hover {
  transform: translateY(-3px);
  border-color: rgba(252, 231, 167, 0.507);
  box-shadow: 0 12px 20px rgba(114, 96, 42, 0.507);
}

.about-item {
  flex: 1.2;
  background: rgba(248, 241, 221, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(252, 231, 167, 0.507);
  padding: 40px;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  box-shadow: var(--shadow);
  text-align: left;
}

.about-item:hover {
  transform: translateY(-4px);
  border-color: rgba(252, 231, 167, 0.507);
  box-shadow: 0 20px 40px -15px rgba(29, 78, 216, 0.1);
}

.about-item h3 {
  font-size: 2rem;
  color: #8B5E3C;
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: 800;
}

.about-item p {
  color: var(--text);
  line-height: 1.8;
  margin: 0;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .about-section {
    padding: 48px 20px;
  }

  .about-section h1 {
    font-size: 2.2rem;
  }

  .about-item {
    padding: 24px;
  }

  .about-item h3 {
    font-size: 1.3rem;
  }

  .about-item p {
    font-size: 1rem;
  }
}